<div
  class="homepage-content h-screen flex flex-col justify-center items-center"
>
  <div class="flex flex-col items-end pb-10 relative">
    <h1 class="text-[162px] text-white font-inter-tight">Speed hire</h1>
    <div
      class="subtitle text-3xl tracking-widest absolute right-[-15px] bottom-16"
    >
      The recruiter Game
    </div>
  </div>

  <a
    [routerLink]="['/game']"
    routerLinkActive="active"
    class="btn btn-accent rounded-3xl p-6 border-0 font-bold font-inter-tight"
  >
    Empezar a revisar CVs
  </a>
</div>
